.main-articles{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.articles-container{
    width: 60%;
    border: 1px solid black;
    height: 2500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.articles-container img{
    width: 20px;
    height: 18px;
}
.articles-topics-conatiner{
    width: 30%;
    border: 1px solid black;
    height: 300px;
    position: sticky;
    top: 100px;
} 
.sidepic{
    margin-inline-end: 20px;
}